<article *ngIf="post">
    <h1 class="text-center m-4 title">{{post.title}}</h1>
    <div class="author-date">
        <span class="author">{{post.author}}</span> on 
        <span class="date">{{post.publishDate | date:'yyyy-MM-dd'}}</span>
    </div>
    <div class="content" [innerHTML]="post.content"></div>

    <h2 class="text-center m-4 comments-title">Comments</h2>
    <section class="comments-list" *ngIf="comments">
        <div>
            <app-comment *ngFor="let comment of comments" [comment]="comment"></app-comment>
            <div *ngIf="comments.length === 0">No comments found</div>
            <app-add-comment [postId]="post.id" (commentAdded)="addCommentToList($event)"></app-add-comment>
        </div>
    </section>
    <app-loader *ngIf="loadingComments"></app-loader>
</article>
<app-loader *ngIf="loading"></app-loader>
<app-toast #toast></app-toast>