@import "../shared.scss";

.author-date {
    margin-bottom: 10px;
}

.author {
    font-weight: bold;
}

.date {
    color: $darkGray;
    font-size: 0.90rem;
}

.comments-list {
    display: flex;
    justify-content: center;
}

.comments-title {
    margin-top: 50px !important;
    border-top: 1px solid #e4e4e4;
    padding-top: 30px;
}

.content {
    font-size: 0.90rem;
}